.main {
	background-color: var(--cream);
}

.text {
	font-size: 18px;
	color: var(--brown);
}

.slogan {
	color: var(--dark-blue);
}

.card {
	height: 200px;
	width: 375px;
	flex-shrink: 0;
	font-size: 24px;
	color: var(--light-blue-green);
	text-decoration: underline;
}