/* main {
	background-color: var(--cream);
} */


.hero {
	max-height: 50%;
	object-fit: cover;
}

.slogan {
	color: var(--dark-blue);
}

.text {
	font-size: 18px;
	color: var(--brown);
}

.loggedInText {
	font-size: 18px;
	color: var(--dark-blue);
}