.questionOption {
	cursor: pointer;
}

.selectedQuestionOption {
	border: 5px solid var(--dark-blue);
}

.disabledQuestionOption {
	opacity: 30%;
}

.correctAnswer {
	border: 5px solid green;
}

.incorrectAnswer {
	border: 5px solid red;
}

.selectedQuestionOption.correctAnswer {
	border: 5px solid green;
}
